composer.phar
.env
.phpunit.result.cache
/.vscode/
/vendor/
/node_modules/
/.git/
/Core/Mantle/Logs/logs.log
/Core/Database/sqlite/database.sqlite
/Core/Database/sqlite/database.db
/static/files/json/
/static/files/li.log
/Core/Mantle/Cache/*